{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mb-4">Edit Post</h1>
<div class="container mx-auto max-w-lg">
    <div class="card p-4 mx-auto">
        <div class="flex items-center mb-4">
            <img class="w-20 h-20 object-cover rounded-xl mr-4" src="{{ post.image }}">
            <h3 class="text-lg font-bold">{{ post.title }}</h3>
        </div>
        
        <div class="pb-2">
            <form method='POST'>
                {% csrf_token %}

                {% csrf_token %}
                {{ form }}


                <div class="pt-4 flex justify-between">
                    <button type="submit" class="button">Submit</button>
                    <a class="button secondaryAction ml-1" href="">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
